* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME */

body {
    font-family: Roboto;
    color: #313131;
}

/* START HEADER */

header {
    height: 200px;
    display: flex;
    align-items: center;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    /* START NAV */
.title{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 60px;
}

.logo{
    width: 100px;
    vertical-align:middle;
}

h1 {
    text-align: center;
    margin: 15px 0;
    color: #fff;
    font-size: 2.5rem;
    line-height: .5;
}

h1 a{
    text-decoration: none;
    color: #fff;
    font-weight: 200;
}

nav{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
    margin: 0 auto;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0 10px 0 20px;
}

.li-plus{
    padding: 0;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
}

.plus{
    width: 15px;
}

#search-form{
    display: flex;
}

#search-form label{
    color: #fff;
}

#search-form input{
    margin-left: 10px;
}

#search-form::after{
    content: url("../img/find-loop.png");
    height: 20px;
    width: 20px;
    display: block;
    margin-left: 10px;
}

.nav-login{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-weight: 300;
}

.nav-login a{
    color: #fff;
}

    /* END NAV */

    /* START MAIN */

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-full{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.content-admin{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside{
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 40px 20px;
}

aside p{
    text-align: left;
}

.go-to a{
    color: #000b31;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.edit a{
    color: #000b31;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
    padding-left: 10px;
}

.go-to{
    margin: 20px 0;
}

aside a:hover{
    text-decoration: underline;
}

.article-full{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border-radius: 5px;
}

.article-full h2{
    margin-bottom: 30px;
}

.container-book{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 4px 4px 10px #dedede;
    margin: 20px 0;
    border-radius: 5px;
}

.container-book-show{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book-show{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border-radius: 5px;
}

.container-book-show .img-resume{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-show img{
    float: none;
    margin-bottom: 30px;
}

    /* END MAIN */

.img-fluid{
    width: 100%;
    height: auto;
}

.return{
    margin: 30px 0 10px;
}

.return .btn{
    display: initial;
}

.return .btn-first{
    display: block;
}

.title-head{
    justify-self: center;
}

h2, h3{
    margin-top: 30px;
    color: #000b31;
}

h2{
    font-size: 2rem;
    text-align: center;
}

h3{
    font-size: 1.5rem;
}

.auteur{
    font-size: 1.2rem;
}

.title-head h2{
    margin-bottom: 30px;
}

.img-resume-books{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.img-resume-books p+p{
    margin-top: 30px;
    width: 90%;
}

.img-resume-books p+p{
    margin-top: 30px;
    width: 90%;
}

.modif{
    display: flex;
    justify-content: center;
}

.modif .btn:first-child{
    margin-right: 20px;
}

.btn{
    padding: 10px 15px;
    background-color: #000b31;
    color: #fff;
    border: solid 1px #000b31;
    border-radius: 3px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    transition: all .5s ease;
    text-align: center;
 }

.btn:hover{
    background-color: transparent;
    color: #000b31;
}

.img-resume{
    margin: 30px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
}

.img-resume p{
    padding: 0 15px;
}

.img-container{
    width: 250px;
    height: 320px;
    overflow: hidden;
}

.img-container-author{
    width: 90%;
    overflow: hidden;
    margin-bottom: 30px;
}

.resume{
    text-align: justify;
}

.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.en-stock{
    color: #718C00;
}

.pas-en-stock{
    color: #AA3333;
}

.add{
    display: block;
    margin: 30px;
}

/* ADMIN TABLE */

.admin-table{
    margin-bottom: 40px;
    border-spacing: 0;
}

.admin-table th, .admin-table td{
    padding: 10px;
    border-collapse: collapse;
    border: 0;
    text-align: center;
}

.admin-table th{
    background-color: #000b31;
    color: #fff;
}

.admin-table tr:nth-child(even){
    background-color: #ddd;
}

.admin-table tr:nth-child(odd){
    background-color: #f7f7f7;
}

.admin-table .btn{
    margin: 0;
}

/* START AUTHOR + BOOK FORMS */

#book div, #author div{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#book div:last-of-type, #author>div:last-of-type{
    margin-top: 30px;
    justify-content: center;
}

#book label, #author label{
    margin-right: 20px;
    text-align: right;
    min-width: 200px;
}

#book_Valider, #author_Valider{
    padding: 8px 30px;
    border: solid 1px #000b31;
    background-color: #000b31;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: all .5s ease;
}

#book_Valider:hover, #author_Valider:hover{
    border: solid 1px #000b31;
    background-color: #fff;
    color: #000b31;
}

#author_birthDate, #author_deathDate{
    margin: 0 !important;
}

#book_resume, #author_biography{
    min-height: 180px;
    overflow-x: hidden;
    padding: 5px;
}

.success{
    text-align: center;
    color: #718C00;
    margin-bottom: 20px;
}

/* END AUTHOR + BOOK FORMS */

.form-add{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form-display{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

#_submit{
    padding: 10px 15px;
    background-color: #000b31;
    color: #fff;
    border: solid 1px #000b31;
    border-radius: 3px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.h1-login{
    margin: 60px 0;
    color: #000b31;
    font-weight: 300;
}

.form-display label{
    margin-bottom: 10px;
}

.form-widget{
    text-align: center;
    margin-bottom: 10px;
    border: dotted 1px #000b31;
    height: 30px;
    border-radius: 3px;
    width: 300px;
}

form li{
    list-style-type: none;
    color: #AA3333;
}

.form-validation{
    margin: 0 auto;
}

/* FOOTER */

footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

footer p{
    color: #fff;
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .book {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .title{
        width: 60%;
    }
    nav{
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    header{
        flex-wrap: wrap;
        justify-content: center;
    }
    .title{
        width: 100%;
        padding: 40px 0 0;
        justify-content: center;
    }
    nav{
        width: 100%;
        justify-content: center;
        padding: 0;
    }
    .title-head h2{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .book {
        width: 100%;
        box-shadow: none;
        border-radius: 0;
    }
}