* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    color: #313131;
}

/*main{
    background-image: url("../img/bg.jpg");
    background-repeat: repeat-y;
}*/

header {
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000b31;
}

.title{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 60px
}

h1 {
    text-align: center;
    margin: 15px 0;
    color: #fff;
    font-size: 2.5rem;
    line-height: .5;
}

h1 a{
    text-decoration: none;
    color: #fff;
}

nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
    margin: 0 auto;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0 10px 0 20px;
}

.li-plus{
    padding: 0;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.plus{
    width: 15px;
}

#search-form{
    display: flex;
}

#search-form label{
    color: #fff;
}

#search-form input{
    margin-left: 10px;
}

#search-form::after{
    content: url("../img/find-loop.png");
    height: 20px;
    width: 20px;
    display: block;
    margin-left: 10px;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-full{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.article-full{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border-radius: 5px;
}

.article-full h2{
    margin-bottom: 30px;
}

.container-book{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 4px 4px 10px #dedede;
    margin: 20px 0;
    border-radius: 5px;
}

.container-book-show{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book-show{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border-radius: 5px;
}

.container-book-show .img-resume{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-show img{
    float: none;
    margin-bottom: 30px;
}

.return{
    margin: 30px 0 10px;
}

.title-head{
    justify-self: center;
}

h2, h3{
    margin-top: 30px;
    color: #000b31;
}

h2{
    font-size: 2rem;
    text-align: center;
}

h3{
    font-size: 1.5rem;
}

.auteur{
    font-size: 1.2rem;
}

.title-head h2{
    margin-bottom: 30px;
}

.img-resume-books{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.img-resume-books p{
    margin-top: 30px;
}

.modif{
    display: flex;
    justify-content: center;
}

.modif .btn:first-child{
    margin-right: 20px;
}

.btn{
     padding: 10px 15px;
     background-color: #000b31;
     color: #fff;
     border-radius: 3px;
     text-decoration: none;
     display: block;
     margin-bottom: 20px;
 }

.img-resume{
    margin: 30px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.img-resume p{
    padding: 0 15px;
}

.book img{
    float: left;
}

.resume{
    text-align: justify;
    width: 80%;
}

.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.en-stock{
    color: #718C00;
}

.pas-en-stock{
    color: #AA3333;
}

.add{
    display: block;
    margin: 30px;
}

#book div, #author div{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#book div:last-of-type, #author>div:last-of-type{
    margin-top: 30px;
    justify-content: center;
}

#book label, #author label{
    margin-right: 20px;
    text-align: right;
    min-width: 200px;
}

#book_Valider, #author_Valider{
    padding: 8px 30px;
    border: solid 1px #000b31;
    background-color: #000b31;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: all .5s ease;
}

#book_Valider:hover, #author_Valider:hover{
    border: solid 1px #000b31;
    background-color: #fff;
    color: #000b31;
}

#author_birthDate, #author_deathDate{
    margin: 0 !important;
}

.success{
    text-align: center;
    color: #718C00;
}

footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000b31;
}

footer p{
    color: #fff;
    text-align: center;
}