{% extends 'base.html.twig' %}

{% block title %}Liste des auteurs{% endblock %}

{% block titrePage %}Liste des auteurs{% endblock %}

{% block content %}

    <section class="container-book">
        {% for author in author %}
            <article class="book">
                <h2>{{ author.firstname }} {{ author.name }}</h2>
                <div class="img-resume-books">
                    <img src="http://placehold.it/400x200" alt="">
                    <p class="resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam autem dicta dolor, facilis fugiat in nesciunt numquam [...]</p>
                </div>
                <a href="{{ path('author', {'id': author.id}) }}" class="btn">En savoir plus</a>
            </article>
        {% endfor %}
    </section>

{% endblock %}
