{% extends 'base.html.twig' %}

{% block title %}Suppression d'un auteur{% endblock %}

{% block titrePage %}Suppression d'un auteur{% endblock %}

{% block content %}

    <section class="container-full">
        <article class="article-full">
            <h2 class="title-add">L'auteur<br><strong>{{ author.firstname }} {{ author.name }}</strong><br>a bien été supprimé.</h2>
        </article>
    </section>

{% endblock %}