{% extends 'base.html.twig' %}

{% block title %}Suppression d'un livre{% endblock %}

{% block titrePage %}Suppression d'un livre{% endblock %}

{% block content %}

    <section class="container-full">
        <article class="article-full">
            <h2 class="title-add">Votre livre<br><strong>"{{ book.title }}"</strong><br>a bien été supprimé.</h2>
        </article>
    </section>

{% endblock %}